{% extends 'base.html' %} {% block content %}

<!-- Bootstrap CSS -->
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
   
<style>
  .container {
      /* background-color:#faf7f6 ; */
      padding: 0;
      margin: 0 auto;
}

  .btn{
    margin-right: 12px;
    padding: 13px 30px;
    border: none;
    color: #fff;
    font-family: "Libre Franklin", sans-serif;
    font-size: 15px;
    border-radius: 50px;
    transition: transform 0.6s ease;
    cursor: pointer;
  }

  .btn:hover {
    outline: none;
    transform: translateY(3px);
}

  .btn:active {
    transform: translateY(0);
}

  .btn-primary{
    background-color: hsl(171, 66%, 44%);
  border-bottom: 4px solid hsl(171, 68%, 36%);
  }

  .btn-primary:hover{
    background-color: hsl(171, 66%, 44%);
    border-bottom: 4px solid hsl(171, 68%, 36%);
  }

  .btn-secondary{
    background-color: hsl(233, 100%, 69%);
  border-bottom: 4px solid hsl(233, 71%, 61%);
  }

  .btn-secondary:hover{
    background-color: hsl(233, 100%, 69%);
    border-bottom: 4px solid hsl(233, 71%, 61%);
  }
</style>

<div class="container">
  <div class="button">
      <form action="{{ url_for('main.download') }}" method="POST">
          <button class="btn btn-primary">Download csv</button>
      </form>
      <form action="{{ url_for('main.download_pdf') }}" method="POST">
          <button class="btn btn-secondary">Download pdf</button>
      </form>
  </div>

  <table id="table" class="table">
      <thead>
          <tr>
          <th scope="col">Repository Name</th>
          <th scope="col">Url</th>
          </tr>
      </thead>
      <tbody>
          {% for x in data %}
          <tr>
          <td>{{x[0]}}</td>
          <td><a href="{{x[1]}}">{{x[1]}}</a></td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
</div>

<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

{% endblock content %}
